@model Vapour.Domain.Models.ProjectConfiguration

@{
    Page.Title = "New Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="projectConfiguration" method="POST" class="form-horizontal">
    <h2 class="form-title">New Project</h2>

    <div class="form-group">
        <label for="projectName" class="col-sm-2 control-label">Project Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Project Name">
        </div>
    </div>
    <div class="form-group">
        <label for="environment" class="col-sm-2 control-label">Environment</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="environment" name="environment" placeholder="Environment">
        </div>
    </div>
    <div class="form-group">
        <label for="testDescription" class="col-sm-2 control-label">Test Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="testDescription" name="testDescription" placeholder="Test Description">
        </div>
    </div>
    <div class="form-group">
        <label for="assemblyName" class="col-sm-2 control-label">Assembly Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="assemblyName" name="assemblyName" placeholder="Assembly Name">
        </div>
    </div>

    @if (Model.HasErrors)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> Project data wasn't correct. Please fill form properly
        </div>
    }

    <div class="control-panel">
        <button id="save" type="submit" class="btn btn-success">Save changes</button>
    </div>
</form>

<style>
    .upload-container {
        margin: 10px;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .progress {
        margin: 10px 0 10px;
    }
</style>