@model Vapour.Domain.ProjectConfiguration

@{
    ViewBag.Title = "NewConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="Configuration" method="POST" action="~/Projects/SaveConfig">
    <fieldset>
        <legend>New Project</legend>
        <div id="config_0" class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="ProjectConfiguration.ConfigurationCollection[0].Key" placeholder=" Key">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="ProjectConfiguration.ConfigurationCollection[0].Value" placeholder="Value">
                </div>
                <div class="col-sm-3 button-container">
                    <button id="newRow" type="button" class="btn btn-default">New Row</button>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row text-center">
        <button type="submit" class="btn btn-success">Save</button>
        <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
    </div>
</form>
<style>
    fieldset {
        margin-bottom: 25px;
    }
</style>
<script>
    var count = 0;

    $(function() {
        $('#newRow').click(function() {
            count++;
            var lastRow = $('fieldset').children().last();
            var newRowButton = $('#newRow').detach();
            var newRow = lastRow.clone();

            newRow.attr('id', 'count_' + count);

            $(newRow.find('input')[0]).attr('name', 'ProjectConfiguration.ConfigurationCollection[' + count + '].Key');
            $(newRow.find('input')[1]).attr('name', 'ProjectConfiguration.ConfigurationCollection[' + count + '].Value');
            newRow.find('label').text((count + 1) + '.');

            $('fieldset').append(newRow);
            newRow.find('.button-container').append(newRowButton);
        });

        $('#cancel').click(function() {
            window.location.assign('../projects');
        });
    });
</script>