@model Vapour.Domain.Models.ProjectConfiguration

@{
    Page.Title = Model.ProjectName;
    Layout = "../Shared/_Layout.cshtml";
}

<div class="test-runner" ng-controller="testRunnerCtrl" ng-init="initialize('@ViewBag.RunTestApiUrl')">
    <h2>Running smoke test</h2>

    <div class="spinner-container" ng-show="loading">
        <div class="spinner">
          <div class="cube1"></div>
          <div class="cube2"></div>
        </div>
    </div>

    <div class="panel panel-default" ng-hide="loading" ng-class="{'panel-danger' : !results.success, 'panel-success' : results.success}">
      <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
      </div>
      <div class="panel-body">
        {{results.content}}
      </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/vapour_testRunnerCtrl.js"></script>
}
