@model Vapour.Domain.Models.ProjectConfiguration

@{
    ViewBag.Title = Model.ProjectName;
    Layout = "../Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $.ajax({
            url: '@ViewBag.RunTestApiUrl',
            dataType: 'jsonp',
            crossDomain: true,
            type: 'GET',
            success: function (data) {
                $('#results').text(JSON.stringify(data));
            }
        });
    });
</script>

<h2>Running smoke test</h2>

<div class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>



<textarea id="results" style="width:500px; height:500px">Loading....</textarea>

