@model Vapour.Domain.ProjectConfiguration

@{
    ViewBag.Title = Model.ProjectName;
    Layout = "../Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $('#myModal').modal();
        $.ajax({
            url: '@ViewBag.RunTestApiUrl',
            type: 'GET',
            success: function(data) {
                //alert(data);
            },
            error: function (data) {
                //alert(data);
            }
        });
    });
</script>
<div id="myModal"class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="container text-center">
        <img src="~/Content/Images/loader.gif" alt="testing..." />    
    </div>
    
</div>
<h2></h2>
