@model Vapour.Domain.ProjectConfiguration

@{
    ViewBag.Title = Model.ProjectName;
    Layout = "../Shared/_Layout.cshtml";
}
<script>
    $(function() {
        $.ajax({
            url: '@ViewBag.RunTestApiUrl',
            type: 'GET',
            success: function(data) {
                alert(data);
            },
            error: function (data) {
                alert(data);
            }
        });
    });
</script>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
<h2></h2>
