@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="projectConfiguration">
    <fieldset>
        <legend>Project Configuration</legend>
        Project Name: <input name="projectName" type="text" /><br />
        Environment: <input name="environment" type="text" /><br />
        Test Description: <input name="testDescription" type="text" /><br />
        Assembly Name: <input name="assemblyName" type="text" /><br />
    </fieldset>    
</form>
<form id="assemblyUpload" enctype="multipart/form-data" style="display: none;">
    <input name="file" type="file" />
    <input id="upload" type="button" value="Upload" />
</form>
<progress style="display: none;" value="2" max="100"></progress>
<button id="save">Save</button>
@Scripts.Render("~/Scripts/save.min.js")