<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="mongodb://localhost"/>
		<add key="DatabaseName" value="vapour_test"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="mongodb://localhost/vapour_test"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
